.navbar-centering-left {
    padding-left: 100px;
}

.navbar-centering-right {
    padding-right: 100px;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.square-row {
    clear: both;
    content: "";
    display: table;
}

.wall {
    background: black;
}

.img {
    padding-top: 0px;
    padding-bottom: 5px;
    height: 32px;
    pointer-events: none;
}

.visited {
    background: blue;
}

.visited2 {
    background: green;
}

.path {
    background: yellow;
}

.path2 {
    background: purple;
}

.nav-label-text {
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-left: -2px;
    font-size: 15px;
}
