.navbar-centering-left {
    padding-left: 5%;
}

.navbar-centering-right {
    padding-right: 5%;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.square-row {
    clear: both;
    content: "";
    display: table;
}

.wall {
    background: black;
}

.img {
    padding-top: 0px;
    padding-bottom: 5px;
    height: 32px;
    pointer-events: none;
}

.visited {
    background: blue;
}

.visited2 {
    background: green;
}

.path {
    background: yellow;
}

.path2 {
    background: purple;
}

.nav-label-text {
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-left: -4px;
    font-size: 15px;
}

.add-coin{
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-left: -17px;
    font-size: 15px;
}

.remove-coin{
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-left: -25px;
    font-size: 15px;
}

.start-node-text{
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-left: -25px;
    font-size: 15px;
}

.end-node-text{
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-left: -20px;
    font-size: 15px;
}

.wall-text{
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-left: -22px;
    font-size: 15px;
}

.modal-dialog {
 
    width: 360px;

    height:850px !important;

  }

.modal-content {

/* 80% of window height */

height: 60%;

background-color:#BBD6EC;

}       

.modal-header {

background-color: rgb(48, 112, 231);

padding:16px 16px;

color:#FFF;

border-bottom:2px dashed #337AB7;

}